@media only screen and (max-width: 576px) {
    /* nav bar start */
    .nav-bar{
        width: 90vw;
    }
    .nav-bar ul{
        display: none;
    }
    .menu-icon{
        display: block;
        color: #fff;
    }
    /* nav bar end */
    /* banner section start */
    .banner-container{
        width: 90vw;
        flex-direction: column;
    }
    .font{
        font-size: 5rem;
        line-height: 1px;
    }
    .left-content{
        width: 100%;

    }
    .left-content > h1{
        font-size: 2.2rem;
    }
    .right-content{
        width: 100%;
    }
    .btn-1{
        font-size: 0.9rem;
        padding: 12px 30px 12px 30px;
    }
    .btn-2{
        margin-left: 0px;
        font-size: 0.9rem;
        padding: 12px 30px 12px 30px;
    }
    .position-1{
        top: 10%;
        right: 0%;
        width: 150px;
        height: 75px;
    }
    .position-1 > h2{
        font-size: 1.8rem;
    }
    .position-1 > h6{
        font-size: 0.5rem;
    }
    .position-2{
        left: 0%;
        bottom: 25%;
        width: 150px;
        height: 75px;
    }
    .circle{
        height: 30px;
        width: 30px;
    }
    .content > h3{
        font-size: 1rem;
    }
    .content h6{
        font-size: 0.5rem;
    }
    /* banner section end */
    /* habit section start */

    .circle-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
        
    
    }
    .circle-item{
        width: 100%;
    }

    /* habit section end */

    /* runner section start */
    .runner-section{
        flex-direction: column;
        gap: 2.5rem;
        justify-content: center;
        width: 90vw;
    }
    .left-side-runner{
        width: 100%;
    }
  
    .left-side-runner > h1{
        font-size: 2rem;
    }
    .left-side-runner > p {
        font-size: 10px;
    }
    .left-side-runner > button {
        width: 100%;
    }
    .right-side-runner{
        width: 100%;
    }

    /* runner section end */
    .training-section{
        width: 90vw;
        text-align: center;
    }
    .image-item-1{
        grid-column: span 6;
    }
    .image-item-2{
        grid-column: span 6;
    }
    .image-item-3{
        grid-column: span 5;
    }
    .image-item-4{
        grid-column: span 7;
    }
    .image-item-5{
        display: none;
    }
    .image-item-6{
        display: none;
    }




    /* bmi section start */
    .title{
        width: 90vw;
        text-align: center;
    }
    .calculator{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 90vw;
    }
    .bmi-left{
        width: 100%;
    
    }
    .bmi-left h1{
        text-align: center;
    }
    table{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .bmi-right{
        width: 100%;
    }

    /* bmi section end */

    /* team section start */
    .image-gallery{
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
       
    }


    /* team section end */
    /* challenge section start */
    .challenge-section{
        width: 90vw;
        padding: 0 0;
    }
    .price-container{
        flex-direction: column;
        gap: 50px;
    }
    .price{
        padding: 0 15px;
    }


    /* challenge section end */
    /* footer section start */
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;
    }
    .line{
        width: 90vw;
    }

    /* footer section end */

}